Repository trip-companion/app, pull requests merged in 2021-02, with the labels that each got.

#17 Added labeler
  .github/labeler.yml
  .github/workflows/workflow.yml
Labels: CI

#18 Added file logging, refactored SecurityConfig
  .gitignore
  backend/build.gradle
  backend/src/main/java/com/trip/companion/config/ApplicationBeans.java
  backend/src/main/java/com/trip/companion/security/JwtAuthenticationEntryPoint.java
  backend/src/main/java/com/trip/companion/security/JwtAuthenticationFilter.java
  backend/src/main/java/com/trip/companion/security/JwtService.java
  backend/src/main/java/com/trip/companion/security/SecurityBeans.java
  backend/src/main/java/com/trip/companion/security/SecurityConfig.java
  backend/src/main/java/com/trip/companion/security/SecurityService.java
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/com/trip/companion/extensions/EmbeddedMongoDbExtension.java
  backend/src/test/java/com/trip/companion/security/JwtAuthenticationFilterTest.java
Labels: backend

#21 init info about front in readme
  README.md
Labels: documentation

#19 Added server error messages
  .github/.codecov.yml
  .github/labeler.yml
  .gitignore
  README.md
  backend/lombok.config
  backend/src/main/java/com/trip/companion/config/ApplicationBeans.java
  backend/src/main/java/com/trip/companion/config/RequestContext.java
  backend/src/main/java/com/trip/companion/domain/error/ErrorMessage.java
  backend/src/main/java/com/trip/companion/error/ErrorCode.java
  backend/src/main/java/com/trip/companion/error/ErrorResponseFactory.java
  backend/src/main/java/com/trip/companion/error/GenericExceptionHandler.java
  backend/src/main/java/com/trip/companion/error/dto/ErrorResponse.java
  backend/src/main/java/com/trip/companion/error/exception/ActionForbiddenException.java
  backend/src/main/java/com/trip/companion/error/exception/ApplicationException.java
  backend/src/main/java/com/trip/companion/error/exception/NoDataFoundException.java
  backend/src/main/java/com/trip/companion/error/exception/NotYetImplementedException.java
  backend/src/main/java/com/trip/companion/error/exception/client/ClientException.java
  backend/src/main/java/com/trip/companion/error/exception/client/UserAlreadyRegisteredException.java
  backend/src/main/java/com/trip/companion/filter/DevCorsFilter.java
  backend/src/main/java/com/trip/companion/filter/LanguageFilter.java
  backend/src/main/java/com/trip/companion/repository/error/ErrorMessageRepository.java
  backend/src/main/java/com/trip/companion/repository/migration/CreateErrorMessageChangelog.java
  backend/src/main/java/com/trip/companion/rest/controller/AuthController.java
  backend/src/main/java/com/trip/companion/rest/controller/MappingController.java
  backend/src/main/java/com/trip/companion/rest/controller/UserController.java
  backend/src/main/java/com/trip/companion/rest/controller/dto/response/AccessTokenRefreshRequest.java
  backend/src/main/java/com/trip/companion/security/SecurityService.java
  backend/src/main/java/com/trip/companion/service/UserService.java
  backend/src/main/java/com/trip/companion/service/error/ErrorMessageService.java
  backend/src/test/java/com/trip/companion/TestUtils.java
  backend/src/test/java/com/trip/companion/error/GenericExceptionHandlerTest.java
  backend/src/test/java/com/trip/companion/filter/LanguageFilterTest.java
  backend/src/test/java/com/trip/companion/repository/migration/test/CreateErrorMessageChangelog.java
  backend/src/test/java/com/trip/companion/repository/migration/test/CreateUserChangelog.java
  backend/src/test/java/com/trip/companion/rest/controller/AuthControllerTest.java
  backend/src/test/java/com/trip/companion/rest/controller/UserControllerTest.java
  backend/src/test/java/com/trip/companion/service/error/ErrorMessageServiceTest.java
Labels: backend

#24 Added deployment to AWS
  .github/.codecov.yml
  .github/workflows/workflow.yml
  backend/src/main/java/com/trip/companion/config/OpenApiConfig.java
  backend/src/main/resources/application-prod.yml
  backend/src/main/resources/application.yml
Labels: backend

#22 add concurrently manual for run all project
  README.md
  frontend/package.json
  frontend/src/app/helpers/error.interceptor.ts
  package.json
Labels: documentation, frontend, help wanted

#28 Added auto deploy to AWS only on pull request merged
  .github/workflows/manual-deploy.yml
  .github/workflows/workflow.yml
  backend/build.gradle
Labels: backend

#31 Migrated from tslint to eslint
  README.md
  frontend/.eslintrc.json
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/DATA/errors-message.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/app-header/app-header.component.ts
  frontend/src/app/components/global-event/global-event.component.ts
  frontend/src/app/components/global-preloader/global-preloader.component.ts
  frontend/src/app/components/redirect301/redirect301.component.ts
  frontend/src/app/derectives/correct-link-href/correct-link-href.directive.ts
  frontend/src/app/guards/auth.guards.ts
  frontend/src/app/guards/language.resolver.ts
  frontend/src/app/guards/page.resolver.ts
  frontend/src/app/guards/pageData.resolver.ts
  frontend/src/app/helpers/basic-auth.inerceptor.ts
  frontend/src/app/helpers/error.interceptor.ts
  frontend/src/app/helpers/header.inerceptor.ts
  frontend/src/app/interfaces/errors-message.ts
  frontend/src/app/interfaces/store.models/user.model.ts
  frontend/src/app/pages/account/account-routing.module.ts
  frontend/src/app/pages/account/account.component.ts
  frontend/src/app/pages/faq/faq-routing.module.ts
  frontend/src/app/pages/faq/faq.component.ts
  frontend/src/app/pages/login/login-routing.module.ts
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/register/register-routing.module.ts
  frontend/src/app/pages/register/register.component.ts
  frontend/src/app/pages/welcome/welcome.component.ts
  frontend/src/app/services/SsrRedirect.service.ts
  frontend/src/app/services/api.services.ts
  frontend/src/app/services/authentication.service.ts
  frontend/src/app/services/location.service.ts
  frontend/src/app/services/resolver.service.ts
  frontend/src/app/services/shared.service.ts
  frontend/src/app/services/state.service.ts
  frontend/src/app/store/actions/globalEvent.action.ts
  frontend/src/app/store/app.state.ts
  frontend/src/app/store/effects/pageData.effects.ts
  frontend/src/app/store/effects/user.effects.ts
  frontend/src/app/store/reducers/globalEvent.reduser.ts
  frontend/src/app/store/reducers/pageData.reduser.ts
  frontend/src/app/store/reducers/user.reduser.ts
  frontend/src/polyfills.ts
  frontend/tslint.json
Labels: frontend

#32 Fixed cyrillic symbols in response
  backend/src/main/java/com/trip/companion/config/ApplicationBeans.java
  backend/src/main/java/com/trip/companion/error/GenericExceptionHandler.java
  backend/src/main/java/com/trip/companion/filter/DevCorsFilter.java
  backend/src/main/java/com/trip/companion/filter/ExceptionHandlerFilter.java
  backend/src/main/java/com/trip/companion/filter/LanguageFilter.java
  backend/src/main/java/com/trip/companion/filter/Utf8Filter.java
Labels: backend

#33 Added possibility to upload and receive file
  .github/.codecov.yml
  backend/build.gradle
  backend/src/main/java/com/trip/companion/TripCompanionApplication.java
  backend/src/main/java/com/trip/companion/config/ApplicationBeans.java
  backend/src/main/java/com/trip/companion/config/jackson/ImageSrc.java
  backend/src/main/java/com/trip/companion/config/jackson/ImageSrcFieldSerializer.java
  backend/src/main/java/com/trip/companion/domain/file/FileItem.java
  backend/src/main/java/com/trip/companion/domain/user/User.java
  backend/src/main/java/com/trip/companion/error/GenericExceptionHandler.java
  backend/src/main/java/com/trip/companion/error/exception/FileException.java
  backend/src/main/java/com/trip/companion/error/exception/JsonException.java
  backend/src/main/java/com/trip/companion/repository/FileItemRepository.java
  backend/src/main/java/com/trip/companion/rest/controller/FileItemController.java
  backend/src/main/java/com/trip/companion/rest/controller/UserController.java
  backend/src/main/java/com/trip/companion/rest/controller/dto/response/UserResponse.java
  backend/src/main/java/com/trip/companion/service/UserService.java
  backend/src/main/java/com/trip/companion/service/file/FileItemService.java
  backend/src/main/java/com/trip/companion/service/file/storage/FileStorageService.java
  backend/src/main/java/com/trip/companion/service/file/storage/LocalFileStorageService.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/trip/companion/config/jackson/ImageSrcFieldSerializerTest.java
  backend/src/test/java/com/trip/companion/rest/controller/FileItemControllerTest.java
  backend/src/test/java/com/trip/companion/rest/controller/UserControllerTest.java
  backend/src/test/java/com/trip/companion/service/file/FileItemServiceTest.java
  backend/src/test/java/com/trip/companion/service/file/storage/LocalFileStorageServiceTest.java
Labels: backend

#36 Added possibility for password updating, added password validation
  backend/build.gradle
  backend/src/main/java/com/trip/companion/domain/Language.java
  backend/src/main/java/com/trip/companion/error/GenericExceptionHandler.java
  backend/src/main/java/com/trip/companion/error/exception/ValidationException.java
  backend/src/main/java/com/trip/companion/rest/advice/ValidatingRequestBodyAdviceAdapter.java
  backend/src/main/java/com/trip/companion/rest/controller/AuthController.java
  backend/src/main/java/com/trip/companion/rest/controller/UserController.java
  backend/src/main/java/com/trip/companion/rest/dto/request/LanguageLevelItemRequest.java
  backend/src/main/java/com/trip/companion/rest/dto/request/LoginRequest.java
  backend/src/main/java/com/trip/companion/rest/dto/request/auth/LoginRequest.java
  backend/src/main/java/com/trip/companion/rest/dto/request/user/RegisterUserRequest.java
  backend/src/main/java/com/trip/companion/rest/dto/request/user/UpdateUserPasswordRequest.java
  backend/src/main/java/com/trip/companion/rest/dto/request/user/UpdateUserRequest.java
  backend/src/main/java/com/trip/companion/rest/dto/response/LanguageLevelItemResponse.java
  backend/src/main/java/com/trip/companion/rest/dto/response/UserResponse.java
  backend/src/main/java/com/trip/companion/rest/dto/response/auth/AccessTokenRefreshRequest.java
  backend/src/main/java/com/trip/companion/rest/dto/response/auth/LoginResponse.java
  backend/src/main/java/com/trip/companion/security/SecurityService.java
  backend/src/main/java/com/trip/companion/service/UserService.java
  backend/src/main/java/com/trip/companion/utils/PasswordUtils.java
  backend/src/main/java/com/trip/companion/validation/LanguageIsoCode.java
  backend/src/main/java/com/trip/companion/validation/LanguageIsoCodeConstraintValidator.java
  backend/src/main/java/com/trip/companion/validation/Password.java
  backend/src/main/java/com/trip/companion/validation/PasswordConstraintValidator.java
  backend/src/test/java/com/trip/companion/error/GenericExceptionHandlerTest.java
  backend/src/test/java/com/trip/companion/rest/controller/AuthControllerTest.java
  backend/src/test/java/com/trip/companion/rest/controller/UserControllerTest.java
  backend/src/test/java/com/trip/companion/service/UserServiceTest.java
  backend/src/test/java/com/trip/companion/validation/PasswordConstraintValidatorTest.java
Labels: backend

#37 Implemented user account in UI
  .gitignore
  frontend/.eslintrc.json
  frontend/angular.json
  frontend/src/app/DATA/Interests-data.ts
  frontend/src/app/DATA/account-data.ts
  frontend/src/app/DATA/errors-message.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/app-header/app-header.component.html
  frontend/src/app/components/app-header/app-header.component.scss
  frontend/src/app/components/app-header/app-header.component.ts
  frontend/src/app/components/global-event/global-event.component.ts
  frontend/src/app/components/global-preloader/global-preloader.component.ts
  frontend/src/app/interfaces/account-page.ts
  frontend/src/app/interfaces/store.models/accountUserData.model.ts
  frontend/src/app/interfaces/store.models/user.model.ts
  frontend/src/app/models/edit-user.model.ts
  frontend/src/app/pages/account/account.component.html
  frontend/src/app/pages/account/account.component.scss
  frontend/src/app/pages/account/account.component.ts
  frontend/src/app/pages/account/account.module.ts
  frontend/src/app/pages/register/register.component.html
  frontend/src/app/pages/register/register.component.scss
  frontend/src/app/pages/register/register.component.ts
  frontend/src/app/pipe/account-check-features.ts
  frontend/src/app/pipe/interests-display-ui.ts
  frontend/src/app/pipe/language-displayname-ui.ts
  frontend/src/app/pipe/language-lvl-ui.ts
  frontend/src/app/pipe/user-years-old.ts
  frontend/src/app/services/api.services.ts
  frontend/src/app/services/authentication.service.ts
  frontend/src/app/services/shared.service.ts
  frontend/src/app/store/actions/accountUserAboutData.action.ts
  frontend/src/app/store/actions/globalEvent.action.ts
  frontend/src/app/store/actions/user.action.ts
  frontend/src/app/store/app.state.ts
  frontend/src/app/store/effects/accountUserAboutData.effects.ts
  frontend/src/app/store/effects/pageData.effects.ts
  frontend/src/app/store/effects/user.effects.ts
  frontend/src/app/store/reducers/accountUserAboutData.reduser.ts
  frontend/src/app/store/reducers/globalEvent.reduser.ts
  frontend/src/app/store/reducers/user.reduser.ts
  frontend/src/assets/images/account/account_card_head.jpg
  frontend/src/assets/images/account/avatar-exemple.png
  frontend/src/assets/images/account/avatar-hover.png
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  frontend/src/main.server.ts
  frontend/src/main.ts
  frontend/src/styles/_typography.scss
  frontend/src/styles/_variable.scss
Labels: backend, frontend
