Repository trip-companion/app, pull requests merged in 2021-03, with the labels that each got.

#39 adaptive account, redesign and add burger main header
  frontend/src/app/app.component.ts
  frontend/src/app/components/app-header/app-header.component.html
  frontend/src/app/components/app-header/app-header.component.scss
  frontend/src/app/components/app-header/app-header.component.ts
  frontend/src/app/pages/account/account.component.html
  frontend/src/app/pages/account/account.component.scss
  frontend/src/app/services/state.service.ts
  frontend/src/styles.scss
  frontend/src/styles/_common.scss
  frontend/src/styles/_typography.scss
Labels: frontend

#40 Added user account page translations
  backend/src/main/java/com/trip/companion/domain/page/Page.java
  backend/src/main/java/com/trip/companion/domain/page/PageItem.java
  backend/src/main/java/com/trip/companion/repository/migration/CreatePageItemsChangelog.java
  backend/src/main/java/com/trip/companion/rest/controller/PageItemController.java
  backend/src/test/java/com/trip/companion/repository/migration/test/CreatePageItemsChangelog.java
  backend/src/test/java/com/trip/companion/rest/controller/PageItemControllerTest.java
Labels: backend

#41 create some unit test for api
  frontend/.eslintrc.json
  frontend/e2e/src/app.e2e-spec.ts
  frontend/e2e/src/app.po.ts
  frontend/karma.conf.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.html
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.component.ts
  frontend/src/app/interfaces/store.models/pageData.model.ts
  frontend/src/app/interfaces/store.models/user.model.ts
  frontend/src/app/pages/account/account.component.ts
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/register/register.component.ts
  frontend/src/app/services/api.service.spec.ts
  frontend/src/app/services/api.services.ts
  frontend/src/app/services/authentication.service.ts
  frontend/src/app/services/shared.service.ts
  frontend/src/app/store/reducers/pageData.reduser.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
Labels: frontend

#43 add mapping for account page
  README.md
  backend/src/main/java/com/trip/companion/repository/migration/CreatePageItemsChangelog.java
  backend/src/test/java/com/trip/companion/repository/migration/test/CreatePageItemsChangelog.java
  backend/src/test/java/com/trip/companion/rest/controller/PageItemControllerTest.java
  frontend/.eslintrc.json
  frontend/src/app/DATA/account-data.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/components/app-header/app-header.component.ts
  frontend/src/app/components/global-event/global-event.component.ts
  frontend/src/app/components/global-preloader/global-preloader.component.ts
  frontend/src/app/guards/pageData.resolver.ts
  frontend/src/app/interfaces/store.models/pageData.model.ts
  frontend/src/app/pages/account/account.component.html
  frontend/src/app/pages/account/account.component.scss
  frontend/src/app/pages/account/account.component.ts
  frontend/src/app/pages/account/account.module.ts
  frontend/src/app/pages/welcome/welcome.component.html
  frontend/src/app/pipe/language-lvl-ui.ts
  frontend/src/app/pipe/user-years-old.ts
  frontend/src/app/store/effects/accountUserAboutData.effects.ts
  frontend/src/app/store/effects/pageData.effects.ts
Labels: backend, frontend

#44 add new page, add seo service
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/src/app/DATA/router.config.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/app-header/app-header.component.html
  frontend/src/app/components/app-header/app-header.component.ts
  frontend/src/app/guards/auth.guards.ts
  frontend/src/app/guards/page.resolver.ts
  frontend/src/app/interfaces/route-config.ts
  frontend/src/app/interfaces/store.models/pageData.model.ts
  frontend/src/app/models/edit-user.model.ts
  frontend/src/app/pages/account/account.component.html
  frontend/src/app/pages/account/account.component.scss
  frontend/src/app/pages/account/account.component.ts
  frontend/src/app/pages/account/account.module.ts
  frontend/src/app/pages/create-travel/create-travel-routing.module.ts
  frontend/src/app/pages/create-travel/create-travel.component.html
  frontend/src/app/pages/create-travel/create-travel.component.scss
  frontend/src/app/pages/create-travel/create-travel.component.ts
  frontend/src/app/pages/create-travel/create-travel.module.ts
  frontend/src/app/pages/login/login.component.scss
  frontend/src/app/pages/login/login.component.ts
  frontend/src/app/pages/login/login.module.ts
  frontend/src/app/pages/register/register.component.html
  frontend/src/app/pages/register/register.component.scss
  frontend/src/app/pages/register/register.component.ts
  frontend/src/app/pages/register/register.module.ts
  frontend/src/app/pages/welcome/welcome.component.html
  frontend/src/app/pages/welcome/welcome.component.scss
  frontend/src/app/pages/welcome/welcome.component.ts
  frontend/src/app/pages/welcome/welcome.module.ts
  frontend/src/app/services/seo.service.ts
  frontend/src/app/services/shared.service.ts
  frontend/src/assets/images/main_logo.jpg
  frontend/src/styles/_typography.scss
  frontend/src/styles/_variable.scss
  frontend/src/styles/_visual_mixin.scss
Labels: frontend

#46 some fx in build, add test, new message and service when send req to beck
  .github/workflows/workflow.yml
  README.md
  frontend/karma.conf.js
  frontend/package-lock.json
  frontend/package.json
  frontend/server.ts
  frontend/sitemap-update.js
  frontend/sitemap.xml
  frontend/src/app/DATA/Interests-data.ts
  frontend/src/app/DATA/success-message.ts
  frontend/src/app/DATA/warning-message.ts
  frontend/src/app/guards/auth.guards.ts
  frontend/src/app/helpers/basic-auth.inerceptor.ts
  frontend/src/app/pages/account/account.component.html
  frontend/src/app/pages/account/account.component.ts
  frontend/src/app/pages/welcome/welcome.component.scss
  frontend/src/app/services/SsrRedirect.service.ts
  frontend/src/app/services/api.service.spec.ts
  frontend/src/app/services/authentication.service.ts
  frontend/src/app/services/seo.service.ts
  frontend/src/app/store/actions/globalEvent.action.ts
  frontend/src/app/store/effects/user.effects.ts
  frontend/src/app/store/reducers/globalEvent.reduser.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  frontend/src/index.html
Labels: frontend

#47 add base seo data for app
  frontend/sitemap-update.js
  frontend/src/app/DATA/seo-data.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/interfaces/seo-data.ts
  frontend/src/app/services/seo.service.ts
  frontend/src/app/services/shared.service.ts
  frontend/src/index.html
Labels: frontend

#48 Reworked translations flow
  backend/build.gradle
  backend/src/main/java/com/trip/companion/domain/page/Page.java
  backend/src/main/java/com/trip/companion/domain/page/PageItem.java
  backend/src/main/java/com/trip/companion/repository/PageItemRepository.java
  backend/src/main/java/com/trip/companion/repository/migration/CreateErrorMessageChangelog.java
  backend/src/main/java/com/trip/companion/repository/migration/CreateFeaturesChangelog.java
  backend/src/main/java/com/trip/companion/repository/migration/CreateInterestsChangelog.java
  backend/src/main/java/com/trip/companion/repository/migration/CreatePageItemsChangelog.java
  backend/src/main/java/com/trip/companion/repository/migration/CreateSkillsChangelog.java
  backend/src/main/java/com/trip/companion/repository/migration/CreateUserChangelog.java
  backend/src/main/java/com/trip/companion/rest/controller/PageItemController.java
  backend/src/main/java/com/trip/companion/rest/dto/response/PageItemsResponse.java
  backend/src/main/java/com/trip/companion/service/PageItemService.java
  backend/src/main/resources/translation/create_trip/eng.json
  backend/src/main/resources/translation/create_trip/rus.json
  backend/src/main/resources/translation/create_trip/ukr.json
  backend/src/main/resources/translation/user_account/eng.json
  backend/src/main/resources/translation/user_account/rus.json
  backend/src/main/resources/translation/user_account/ukr.json
  backend/src/main/resources/translation/welcome/eng.json
  backend/src/main/resources/translation/welcome/rus.json
  backend/src/main/resources/translation/welcome/ukr.json
  backend/src/test/java/com/trip/companion/TestUtils.java
  backend/src/test/java/com/trip/companion/repository/migration/test/CreateErrorMessageChangelog.java
  backend/src/test/java/com/trip/companion/repository/migration/test/CreateFeaturesChangelog.java
  backend/src/test/java/com/trip/companion/repository/migration/test/CreateInterestsChangelog.java
  backend/src/test/java/com/trip/companion/repository/migration/test/CreatePageItemsChangelog.java
  backend/src/test/java/com/trip/companion/repository/migration/test/CreateSkillsChangelog.java
  backend/src/test/java/com/trip/companion/repository/migration/test/CreateUserChangelog.java
  backend/src/test/java/com/trip/companion/rest/controller/PageItemControllerTest.java
Labels: backend
